# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/

# Ambientes virtuais
.venv/
venv/
env/

# Ferramentas
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Sistema
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# ComfyUI / modelos
models/
output/
